.nav {
  padding: 24px 0;
  text-align: center;
}
.nav li {
  display: inline-block;
  list-style-type: none;
  padding: 16px;
}
.nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
}
.nav > li > a:hover {
  color: #ffcd4b;
}
