/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    90deg,
    rgba(109, 126, 210, 1) 17%,
    rgba(59, 173, 184, 1) 100%
  );
  color: #fff;
}
/* Common css */
/*Mobile*/
@media (max-width: 739px) {
  * {
    font-size: 11px;
  }
}
